<h1>Top Pages</h1>

<table>
	
	{{#each topSites}}
	<tr>
    	<td>{{this.url}} </td>
    	<td>{{this.score}}</td>
    </tr>
	{{/each}}
	
</table>

<h1>Worst Pages</h1>

<table>
	
	{{#each worstSites}}
	<tr>
    	<td>{{this.url}} </td>
    	<td>{{this.score}}</td>
    </tr>
	{{/each}}
	
</table>

<h1>Score Averages</h1>

<table>
	
	{{#each scoreAverages}}
	<tr>
		<td>{{this.end_time}}</td>
    	<td>{{this.mean_score}} </td>
    	<td>{{this.median_score}}</td>
    </tr>
	{{/each}}
	
</table>